* {
  box-sizing: border-box;
}

ul {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: #fff;
  padding-left: 70px;
  font-size: 28px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  background-color: #d25891;
  padding: 0 6%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: #fff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .navbar {
    font-size: 18px;
  }
}
