.inputCategory {
  background-color: rgb(246, 217, 217);
  max-width: 280px;
  min-width: 240px;
  margin-top: 24px;
  height: 38px;
  border-radius: 6px;
  padding-left: 10px;
}

.categoryContainer {
  display: flex;
  justify-content: center;
}
